* {
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

#header {
    background-color: #6EC1E4;
    margin-bottom: 30px;
}

img {
    width: 20vw;
    height: 20vh;
}

#marca-calc {
    margin-top: 10px;
    width: 13em;
    height: 2.5em;
}

.container-fluid {
    max-width: 36vw;
    /* height: 90vh; */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    /* box-shadow: 10px 10px 8px #888888; */
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #DCDCDC;
    margin-bottom: 40px;
}

.container-fluid .inputdigita {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 80px;
    padding: 0 20px 0 0;
    text-align: right;
    font-size: 60px;
    outline: none;
}

.container-fluid button {
    color: #f6f6f6;
    font-weight: 500;
}

#tela {
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
}


.container-fluid .div-input {
    background-color: #DCDCDC;
    border: 2px solid #fff;
    margin: 10px 5px 0px 5px;
    border-radius: 20px;
}

.heading-input {
    margin-left: 20px;
}

.container-fluid .botoes {
    border: 2px solid #fff;
    margin: 30px 5px;
    border-radius: 20px;
}

#local {
    color: #f6f6f6;
    font-weight: 500;
    /* overflow: auto;
    white-space: normal;
    word-wrap: break-word; */
}

#resultado {
    font-size: 30px;
    text-align: center;
    padding: 0;
    line-height: 0;
    color: #f6f6f6;
    font-weight: 500;
}

.btn {
    height: 40px;
    border-radius: 25px !important;
}

.container-fluid select {
    color: #f6f6f6;
    font-weight: 500;
    text-align: center; /* para firefox */
    text-align-last: center; /* para chrome */
}

.botoes {
    background-color: #DCDCDC;
    padding: 20px;
}

.calc-button {
    margin: 15px 5px;
}

.select-button:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.container-fluid .btn-mostrar  {
    box-shadow: 0 5px 0 #34648b;
    background-color: #4682B4;
}

.container-fluid .texto {
    height: auto;
}

.container-fluid .btn-selecionar {
    box-shadow: 0 5px 0 #9b9898;
    background-color: #B5B5B5;
    margin: 15px 5px;
}

#btn-apagar {
    border-radius: 50% !important;
    box-shadow: 0 5px 0 #db7070;
    background-color: #F08080;
}

#containerKits {
    background-color: #040D29;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.card {
    background-color: #fff;
    margin: 0 30px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.cards {
    color: #337ab7;
    padding-left: 5px;
}

.card-img-top {
    height: auto;
}

#codigo {
    font-size: 13px;
    padding-top: 5px;
}

#categoria {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

#descricao {
    font-size: 11px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

#preco {
    font-size: 18px;
    font-weight: 700;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media only screen and (max-width: 1200px) {
    .container-fluid {
        max-width: 50vw;
    }

    img {
        width: 30vw;
        height: 30vh;
    }

    #marca-calc {
        width: 10em;
        height: 2em;
    }
}

@media only screen and (max-width: 1060px) {
    .container-fluid {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 900px) {
    .container-fluid {
        max-width: 60vw;
    }

    .container-fluid .inputdigita {
        font-size: 3em;
    }

    .card {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 770px) {
    .container-fluid {
        max-width: 60vw;
    }

    img {
        width: 40vw;
        height: 40vh;
    }

    .container-fluid .inputdigita {
        font-size: 2em;
    }
}

@media only screen and (max-width: 650px) {
    .container-fluid {
        max-width: 70vw;
    }

    #containerKits {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card {
        margin: 10px 0;
        width: 70vw !important;
    }
}

@media only screen and (max-width: 500px) {
    .container-fluid {
        max-width: 90vw;
    }

    img {
        width: 50vw;
        height: 50vh;
    }

    #containerKits {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px 0;
        width: 90vw !important;
    }
}